auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
package-import-method=copy
only-built-dependencies[]=@firebase/util
only-built-dependencies[]=protobufjs
only-built-dependencies[]=sharp
ignored-built-dependencies[]=@firebase/util
ignored-built-dependencies[]=protobufjs
ignored-built-dependencies[]=sharp

